.body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: yellow;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar {
    color: black;
    background-color: yellow;
    border: 2px solid yellow;
    border-radius: 5px;
    text-decoration: none;
    font-size: large;
    padding: 5px;
    height: 5%;
    width: 5%;
}

.footer {
    margin-bottom: 0%;
    flex: 1 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}

#time {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: row;
}

.topcontainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}