body {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

#top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#top header nav {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: yellow;
    border: 1px solid white;
}